* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 720px 1fr;
  grid-template-rows: 144px 1fr;
  grid-template-areas: 
    'header aside'
    'main aside' 
  ;
  height: 100vh;
}

header {
  grid-area: header;
  background: #121214;
}

header img {
  margin: 50px 0 0 30px;
  width: 389px;
  height: 94px;
}

main {
  padding-left: 36px ;
  grid-area: main;
  background: #121214;
}

section {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

section h1 {
  font-family: 'Work Sans', sans-serif;
  color: #08C05E;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

section h2 {
  font-family: 'Spartan', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

section p {
  font-family: 'Spartan', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 17px;

  position: relative;
  width: 798px;
  height: 84px;
}

form label {
  font-family: 'Spartan', sans-serif;
  color: #A8A8A8;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;

  cursor: text;
}

#input-button {
  display: flex;
}

#input-button input {
  padding: 17px 0 17px 10px;

  outline: none;
  border: none;
  border-left: 5px solid #04D361;
  border-radius: none;

  font-family: 'Work Sans', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  width: 750px;
  height: 48px;
}

#input-button input::placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #6A6A6A;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#input-button input::-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #6A6A6A;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#input-button input::-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #6A6A6A;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#input-button input:-moz-placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #6A6A6A;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#input-button input:-ms-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #6A6A6A;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

#input-button button {
  background: #8257E5;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: none;
  width: 48px;

  cursor: pointer;
}

main a {
  display:flex;
  align-items: center;
  gap: 5px;

  font-family: 'Spartan', sans-serif;
  color: #8257E5;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  text-decoration: none;
}

aside {
  grid-area: aside;
  background: url(./assets/image.png) no-repeat right;
  background-size: cover;
}